@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn {
    animation: none;
    --btn-focus-scale: 1;
  }
  .btn-shadow {
    box-shadow: 5px 5px black;
    @apply border-4 border-black;
    @apply -translate-x-[5px] -translate-y-[5px];
  }
  .btn-shadow:hover {
    box-shadow: 4px 4px black;
    @apply border-4 border-black;
    @apply -translate-x-[4px] -translate-y-[4px];
    /* @apply brightness-125;
    --tw-saturate: saturate(1.25); */
  }
  .btn-shadow:active,
  .btn-shadow:active:hover,
  .btn-shadow.btn-active {
    box-shadow: 0 0 black;
    @apply border-t-[6px] border-l-[6px] border-r-2 border-b-2 border-black;
    @apply translate-x-0 translate-y-0;
    /* @apply brightness-125 saturate-150; */
  }

  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
  }
}

body {
  @apply bg-base-300 min-h-screen;
}
